This is a text

# This is a Text

In [1]:
import numpy as np # for arrays, Series, List, Sets
import pandas as pd # for dataframes

In [2]:
var1 = 5
print('This is var1: ', var1, ', i TOLD YOU THIS IS VAR1!!!')
print(f'This is var1: {var1}, i TOLD YOU THIS IS VAR1!!!')
var1 += 6
var1

This is var1:  5 , i TOLD YOU THIS IS VAR1!!!
This is var1: 5, i TOLD YOU THIS IS VAR1!!!

11

In [3]:
var2 = var1
var2 = 'pepepe'
var2

'pepepe'

In [4]:
type(var2)

str

In [5]:
var_str=var2 + ' ----- ' + var2
var_str

'pepepe ----- pepepe'

In [6]:
var_str=f'{var2} ----- {var2}'
var_str

'pepepe ----- pepepe'

In [7]:
data = pd.read_csv('./data.csv', sep='|')

/tmp/ipykernel_540630/4247246958.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('./data.csv', sep='|')

In [8]:
data.head()

,client_id,Target,Month,First_product_dt,Last_product_dt,CreditCard_Premium,CreditCard_Active,CreditCard_CoBranding,Loan_Active,Mortgage_Active,...,CreditCard_Payment_External,CreditCard_Payment_Cash,CreditCard_Payment_Web,CreditCard_Payment_ATM,CreditCard_Payment_TAS,Investment_Numbers,Mobile,Email,Region,CreditCard_Product
0,5856970,1.0,2018-10-01,2013-10-23,2019-01-10,No,Yes,No,No,No,...,0.0,0.0,0.0,0.0,0.0,1.0,Yes,Yes,NaN,NaN
1,6371753,0.0,2018-09-01,2015-07-29,2018-06-02,No,No,No,No,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,No,NaN,NaN
2,5928737,0.0,2019-01-01,2016-08-31,2018-12-27,No,No,No,No,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,Yes,NaN,NaN
3,475064,0.0,2018-12-01,2014-07-13,2017-11-30,No,Yes,No,No,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,Yes,NaN,NaN
4,3615172,0.0,2018-09-01,2017-12-27,2017-12-28,No,No,No,No,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,No,NaN,NaN

In [9]:
# shape -> (rows, columns)
data.shape

(238616, 77)

In [90]:
list(data.columns)

['client_id',
 'Target',
 'Month',
 'First_product_dt',
 'Last_product_dt',
 'CreditCard_Premium',
 'CreditCard_Active',
 'CreditCard_CoBranding',
 'Loan_Active',
 'Mortgage_Active',
 'SavingAccount_Active_ARG_Salary',
 'SavingAccount_Active_ARG',
 'SavingAccount_Active_DOLLAR',
 'DebitCard_Active',
 'Investment_Active',
 'Package_Active',
 'Insurance_Life',
 'Insurance_Home',
 'Insurance_Accidents',
 'Insurance_Mobile',
 'Insurance_ATM',
 'Insurance_Unemployment',
 'Sex',
 'Client_Age_grp',
 'SavingAccount_Balance_FirstDate',
 'SavingAccount_Balance_LastDate',
 'SavingAccount_Balance_Average',
 'SavingAccount_Days_with_use',
 'SavingAccount_Days_with_Credits',
 'SavingAccount_Days_with_Debits',
 'SavingAccount_Salary_Payment_Transactions',
 'SavingAccount_Transfer_In_Transactions',
 'SavingAccount_ATM_Extraction_Transactions',
 'SavingAccount_Service_Payment_Transactions',
 'SavingAccount_CreditCard_Payment_Transactions',
 'SavingAccount_Transfer_Out_Transactions',
 'SavingAccount_DebitCard_Spend_Transactions',
 'SavingAccount_Transactions_Transactions',
 'SavingAccount_Credits_Transactions',
 'SavingAccount_Debits_Transactions',
 'SavingAccount_Salary_Payment_Amount',
 'SavingAccount_Transfer_In_Amount',
 'SavingAccount_ATM_Extraction_Amount',
 'SavingAccount_Service_Payment_Amount',
 'SavingAccount_CreditCard_Payment_Amount',
 'SavingAccount_Transfer_Out_Amount',
 'SavingAccount_DebitCard_Spend_Amount',
 'SavingAccount_Total_Amount',
 'SavingAccount_Credits_Amounts',
 'SavingAccount_Debits_Amounts',
 'Operations_Bank',
 'Operations_Terminal',
 'Operations_HomeBanking',
 'Operations_Mobile',
 'Operations_Ivr',
 'Operations_Telemarketer',
 'Operations_ATM',
 'CreditCard_Balance_ARG',
 'CreditCard_Balance_DOLLAR',
 'CreditCard_Total_Limit',
 'CreditCard_Total_Spending',
 'CreditCard_Spending_1_Installment',
 'CreditCard_Spending_Installments',
 'CreditCard_Spending_CrossBoarder',
 'CreditCard_Spending_Aut_Debits',
 'CreditCard_Revolving',
 'CreditCard_Payment_Aut_Debit',
 'CreditCard_Payment_External',
 'CreditCard_Payment_Cash',
 'CreditCard_Payment_Web',
 'CreditCard_Payment_ATM',
 'CreditCard_Payment_TAS',
 'Investment_Numbers',
 'Mobile',
 'Email',
 'Region',
 'CreditCard_Product',
 'SavingAccount_Debits_Transactions_gt_100',
 'row_num']

In [11]:
type(data.columns)

pandas.core.indexes.base.Index

In [12]:
[x for x in data.columns if (x.find('SavingAccount') >= 0) & (x.find('Active') >= 0)]

['SavingAccount_Active_ARG_Salary',
 'SavingAccount_Active_ARG',
 'SavingAccount_Active_DOLLAR']

In [13]:
[x for x in data.columns if ('SavingAccount' in x) and ('Active' in x)]

['SavingAccount_Active_ARG_Salary',
 'SavingAccount_Active_ARG',
 'SavingAccount_Active_DOLLAR']

In [14]:
[x for x in data.columns if (x.find('SavingAccount') >= 0) | (x.find('Active') >= 0)]

['CreditCard_Active',
 'Loan_Active',
 'Mortgage_Active',
 'SavingAccount_Active_ARG_Salary',
 'SavingAccount_Active_ARG',
 'SavingAccount_Active_DOLLAR',
 'DebitCard_Active',
 'Investment_Active',
 'Package_Active',
 'SavingAccount_Balance_FirstDate',
 'SavingAccount_Balance_LastDate',
 'SavingAccount_Balance_Average',
 'SavingAccount_Days_with_use',
 'SavingAccount_Days_with_Credits',
 'SavingAccount_Days_with_Debits',
 'SavingAccount_Salary_Payment_Transactions',
 'SavingAccount_Transfer_In_Transactions',
 'SavingAccount_ATM_Extraction_Transactions',
 'SavingAccount_Service_Payment_Transactions',
 'SavingAccount_CreditCard_Payment_Transactions',
 'SavingAccount_Transfer_Out_Transactions',
 'SavingAccount_DebitCard_Spend_Transactions',
 'SavingAccount_Transactions_Transactions',
 'SavingAccount_Credits_Transactions',
 'SavingAccount_Debits_Transactions',
 'SavingAccount_Salary_Payment_Amount',
 'SavingAccount_Transfer_In_Amount',
 'SavingAccount_ATM_Extraction_Amount',
 'SavingAccount_Service_Payment_Amount',
 'SavingAccount_CreditCard_Payment_Amount',
 'SavingAccount_Transfer_Out_Amount',
 'SavingAccount_DebitCard_Spend_Amount',
 'SavingAccount_Total_Amount',
 'SavingAccount_Credits_Amounts',
 'SavingAccount_Debits_Amounts']

In [15]:
[x for x in data.columns if ('SavingAccount' in x) or ('Active' in x)]

['CreditCard_Active',
 'Loan_Active',
 'Mortgage_Active',
 'SavingAccount_Active_ARG_Salary',
 'SavingAccount_Active_ARG',
 'SavingAccount_Active_DOLLAR',
 'DebitCard_Active',
 'Investment_Active',
 'Package_Active',
 'SavingAccount_Balance_FirstDate',
 'SavingAccount_Balance_LastDate',
 'SavingAccount_Balance_Average',
 'SavingAccount_Days_with_use',
 'SavingAccount_Days_with_Credits',
 'SavingAccount_Days_with_Debits',
 'SavingAccount_Salary_Payment_Transactions',
 'SavingAccount_Transfer_In_Transactions',
 'SavingAccount_ATM_Extraction_Transactions',
 'SavingAccount_Service_Payment_Transactions',
 'SavingAccount_CreditCard_Payment_Transactions',
 'SavingAccount_Transfer_Out_Transactions',
 'SavingAccount_DebitCard_Spend_Transactions',
 'SavingAccount_Transactions_Transactions',
 'SavingAccount_Credits_Transactions',
 'SavingAccount_Debits_Transactions',
 'SavingAccount_Salary_Payment_Amount',
 'SavingAccount_Transfer_In_Amount',
 'SavingAccount_ATM_Extraction_Amount',
 'SavingAccount_Service_Payment_Amount',
 'SavingAccount_CreditCard_Payment_Amount',
 'SavingAccount_Transfer_Out_Amount',
 'SavingAccount_DebitCard_Spend_Amount',
 'SavingAccount_Total_Amount',
 'SavingAccount_Credits_Amounts',
 'SavingAccount_Debits_Amounts']

In [16]:
[x for x in data.columns if ~x.startswith('SavingAccount')]

['client_id',
 'Target',
 'Month',
 'First_product_dt',
 'Last_product_dt',
 'CreditCard_Premium',
 'CreditCard_Active',
 'CreditCard_CoBranding',
 'Loan_Active',
 'Mortgage_Active',
 'SavingAccount_Active_ARG_Salary',
 'SavingAccount_Active_ARG',
 'SavingAccount_Active_DOLLAR',
 'DebitCard_Active',
 'Investment_Active',
 'Package_Active',
 'Insurance_Life',
 'Insurance_Home',
 'Insurance_Accidents',
 'Insurance_Mobile',
 'Insurance_ATM',
 'Insurance_Unemployment',
 'Sex',
 'Client_Age_grp',
 'SavingAccount_Balance_FirstDate',
 'SavingAccount_Balance_LastDate',
 'SavingAccount_Balance_Average',
 'SavingAccount_Days_with_use',
 'SavingAccount_Days_with_Credits',
 'SavingAccount_Days_with_Debits',
 'SavingAccount_Salary_Payment_Transactions',
 'SavingAccount_Transfer_In_Transactions',
 'SavingAccount_ATM_Extraction_Transactions',
 'SavingAccount_Service_Payment_Transactions',
 'SavingAccount_CreditCard_Payment_Transactions',
 'SavingAccount_Transfer_Out_Transactions',
 'SavingAccount_DebitCard_Spend_Transactions',
 'SavingAccount_Transactions_Transactions',
 'SavingAccount_Credits_Transactions',
 'SavingAccount_Debits_Transactions',
 'SavingAccount_Salary_Payment_Amount',
 'SavingAccount_Transfer_In_Amount',
 'SavingAccount_ATM_Extraction_Amount',
 'SavingAccount_Service_Payment_Amount',
 'SavingAccount_CreditCard_Payment_Amount',
 'SavingAccount_Transfer_Out_Amount',
 'SavingAccount_DebitCard_Spend_Amount',
 'SavingAccount_Total_Amount',
 'SavingAccount_Credits_Amounts',
 'SavingAccount_Debits_Amounts',
 'Operations_Bank',
 'Operations_Terminal',
 'Operations_HomeBanking',
 'Operations_Mobile',
 'Operations_Ivr',
 'Operations_Telemarketer',
 'Operations_ATM',
 'CreditCard_Balance_ARG',
 'CreditCard_Balance_DOLLAR',
 'CreditCard_Total_Limit',
 'CreditCard_Total_Spending',
 'CreditCard_Spending_1_Installment',
 'CreditCard_Spending_Installments',
 'CreditCard_Spending_CrossBoarder',
 'CreditCard_Spending_Aut_Debits',
 'CreditCard_Revolving',
 'CreditCard_Payment_Aut_Debit',
 'CreditCard_Payment_External',
 'CreditCard_Payment_Cash',
 'CreditCard_Payment_Web',
 'CreditCard_Payment_ATM',
 'CreditCard_Payment_TAS',
 'Investment_Numbers',
 'Mobile',
 'Email',
 'Region',
 'CreditCard_Product']

In [17]:
[x for x in data.columns if not x.startswith('SavingAccount')]

['client_id',
 'Target',
 'Month',
 'First_product_dt',
 'Last_product_dt',
 'CreditCard_Premium',
 'CreditCard_Active',
 'CreditCard_CoBranding',
 'Loan_Active',
 'Mortgage_Active',
 'DebitCard_Active',
 'Investment_Active',
 'Package_Active',
 'Insurance_Life',
 'Insurance_Home',
 'Insurance_Accidents',
 'Insurance_Mobile',
 'Insurance_ATM',
 'Insurance_Unemployment',
 'Sex',
 'Client_Age_grp',
 'Operations_Bank',
 'Operations_Terminal',
 'Operations_HomeBanking',
 'Operations_Mobile',
 'Operations_Ivr',
 'Operations_Telemarketer',
 'Operations_ATM',
 'CreditCard_Balance_ARG',
 'CreditCard_Balance_DOLLAR',
 'CreditCard_Total_Limit',
 'CreditCard_Total_Spending',
 'CreditCard_Spending_1_Installment',
 'CreditCard_Spending_Installments',
 'CreditCard_Spending_CrossBoarder',
 'CreditCard_Spending_Aut_Debits',
 'CreditCard_Revolving',
 'CreditCard_Payment_Aut_Debit',
 'CreditCard_Payment_External',
 'CreditCard_Payment_Cash',
 'CreditCard_Payment_Web',
 'CreditCard_Payment_ATM',
 'CreditCard_Payment_TAS',
 'Investment_Numbers',
 'Mobile',
 'Email',
 'Region',
 'CreditCard_Product']

In [18]:
[x for x in data.columns if x.startswith('SavingAccount')]

['SavingAccount_Active_ARG_Salary',
 'SavingAccount_Active_ARG',
 'SavingAccount_Active_DOLLAR',
 'SavingAccount_Balance_FirstDate',
 'SavingAccount_Balance_LastDate',
 'SavingAccount_Balance_Average',
 'SavingAccount_Days_with_use',
 'SavingAccount_Days_with_Credits',
 'SavingAccount_Days_with_Debits',
 'SavingAccount_Salary_Payment_Transactions',
 'SavingAccount_Transfer_In_Transactions',
 'SavingAccount_ATM_Extraction_Transactions',
 'SavingAccount_Service_Payment_Transactions',
 'SavingAccount_CreditCard_Payment_Transactions',
 'SavingAccount_Transfer_Out_Transactions',
 'SavingAccount_DebitCard_Spend_Transactions',
 'SavingAccount_Transactions_Transactions',
 'SavingAccount_Credits_Transactions',
 'SavingAccount_Debits_Transactions',
 'SavingAccount_Salary_Payment_Amount',
 'SavingAccount_Transfer_In_Amount',
 'SavingAccount_ATM_Extraction_Amount',
 'SavingAccount_Service_Payment_Amount',
 'SavingAccount_CreditCard_Payment_Amount',
 'SavingAccount_Transfer_Out_Amount',
 'SavingAccount_DebitCard_Spend_Amount',
 'SavingAccount_Total_Amount',
 'SavingAccount_Credits_Amounts',
 'SavingAccount_Debits_Amounts']

In [19]:
[x for x in data.columns if x.endswith('Amounts')]

['SavingAccount_Credits_Amounts', 'SavingAccount_Debits_Amounts']

In [20]:
[x for x in data.columns if x.find('Spend') >= 0]

['SavingAccount_DebitCard_Spend_Transactions',
 'SavingAccount_DebitCard_Spend_Amount',
 'CreditCard_Total_Spending',
 'CreditCard_Spending_1_Installment',
 'CreditCard_Spending_Installments',
 'CreditCard_Spending_CrossBoarder',
 'CreditCard_Spending_Aut_Debits']

In [21]:
[x for x in data.columns if 'Spend' in x]

['SavingAccount_DebitCard_Spend_Transactions',
 'SavingAccount_DebitCard_Spend_Amount',
 'CreditCard_Total_Spending',
 'CreditCard_Spending_1_Installment',
 'CreditCard_Spending_Installments',
 'CreditCard_Spending_CrossBoarder',
 'CreditCard_Spending_Aut_Debits']

In [22]:
data.dtypes

client_id              object
Target                float64
Month                  object
First_product_dt       object
Last_product_dt        object
                       ...
Investment_Numbers    float64
Mobile                 object
Email                  object
Region                 object
CreditCard_Product     object
Length: 77, dtype: object

In [23]:
data.Target.value_counts()

Target
0.0    176359
1.0     62256
Name: count, dtype: int64

In [24]:
data['Target'].value_counts()

Target
0.0    176359
1.0     62256
Name: count, dtype: int64

In [25]:
data[['Target', 'Email']].value_counts().reset_index()

   Target Email   count
0     0.0   Yes  125218
1     0.0    No   51141
2     1.0   Yes   46835
3     1.0    No   15421

In [26]:
pepe = data

pepe.drop('Target', axis=1, inplace=True)

data['Target']

# NOTA: La idea de este paso es poder ver que data y pepe apuntan al mismo contenido, por lo que modificar pepe, modifica a data tambien

KeyError: 'Target'

In [27]:
data = pd.read_csv('./data.csv', sep='|')

pepe = data.copy()

pepe.drop('Target', axis=1, inplace=True)

data['Target']

/tmp/ipykernel_540630/231482731.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('./data.csv', sep='|')

0         1.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
238611    0.0
238612    0.0
238613    0.0
238614    0.0
238615    NaN
Name: Target, Length: 238616, dtype: float64

In [28]:
data.shape

(238616, 77)

In [29]:
# filter Columns
data_tgt = data[['Target', 'client_id']].drop_duplicates()
data_tgt.shape

(27591, 2)

In [30]:
# filter Columns
data_tgt = data[[ 'client_id']].drop_duplicates()
data_tgt.shape

(27591, 1)

In [31]:
# filter rows
data = data[ (data.client_id != '(238615 rows affected)')]
data = data[~(data.client_id == '(238615 rows affected)')]

In [32]:
data.shape

(238615, 77)

In [33]:
data.dtypes

client_id              object
Target                float64
Month                  object
First_product_dt       object
Last_product_dt        object
                       ...
Investment_Numbers    float64
Mobile                 object
Email                  object
Region                 object
CreditCard_Product     object
Length: 77, dtype: object

In [34]:

data_only_one = data[(data['Target'] == '1') ]
data_only_one.shape

(0, 77)

In [35]:

data_only_one = data[(data['Target'] == 1) & (data['client_id'] < 2132)]
data_only_one.shape

TypeError: '<' not supported between instances of 'str' and 'int'

In [36]:
# cast
data_only_one = data[(data['Target'] == 1) & (data['client_id'].astype(np.int64) < 2132)]
data_only_one.shape

(9, 77)

In [37]:
data2 = data.copy()

In [38]:
len(data2.columns)

77

In [39]:
# drop columns

data2 = data2.drop('client_id', axis=1)
len(data2.columns)

76

In [40]:
data2.drop('Target', axis=1)
len(data2.columns)

76

In [41]:
data2.drop('Target', axis=1, inplace=True)
len(data2.columns)

75

In [42]:
data2.drop(['SavingAccount_Debits_Transactions',
       'SavingAccount_Salary_Payment_Amount',
       'SavingAccount_Transfer_In_Amount',
       'SavingAccount_ATM_Extraction_Amount',
       'SavingAccount_Service_Payment_Amount',
       'SavingAccount_CreditCard_Payment_Amount'], axis=1, inplace=True)
len(data2.columns)

69

In [43]:
data.describe()

,Target,SavingAccount_Balance_FirstDate,SavingAccount_Balance_LastDate,SavingAccount_Balance_Average,SavingAccount_Days_with_use,SavingAccount_Days_with_Credits,SavingAccount_Days_with_Debits,SavingAccount_Salary_Payment_Transactions,SavingAccount_Transfer_In_Transactions,SavingAccount_ATM_Extraction_Transactions,...,CreditCard_Spending_CrossBoarder,CreditCard_Spending_Aut_Debits,CreditCard_Revolving,CreditCard_Payment_Aut_Debit,CreditCard_Payment_External,CreditCard_Payment_Cash,CreditCard_Payment_Web,CreditCard_Payment_ATM,CreditCard_Payment_TAS,Investment_Numbers
count,238615.000000,2.386150e+05,2.386150e+05,2.386100e+05,238615.000000,238615.000000,238615.000000,238615.000000,238615.000000,238615.000000,...,238615.000000,238615.000000,238615.000000,238615.000000,238615.000000,238615.000000,238615.000000,238615.000000,238615.000000,238615.000000
mean,0.260906,4.391185e+03,4.306811e+03,3.888000e+03,2.315089,1.158988,1.710932,0.136119,0.319720,0.511049,...,5.803572,1069.035621,2097.477104,0.204719,0.173983,0.027618,0.128374,0.046728,0.091763,0.066513
std,0.439129,2.770754e+04,2.731014e+04,2.166111e+04,3.737385,1.765609,3.151713,0.543215,1.114251,2.131053,...,65.846575,2640.778926,7893.127181,0.492174,0.425741,0.174117,0.387458,0.247012,0.339117,0.427927
min,0.000000,0.000000e+00,0.000000e+00,-5.665900e+02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,-9476.360000,-249630.730000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000e+00,0.000000e+00,3.500000e-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,4.001750e+02,3.528150e+02,1.204130e+03,3.000000,2.000000,2.000000,0.000000,0.000000,0.000000,...,0.000000,850.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,2.693271e+06,2.410284e+06,1.771201e+06,41.000000,30.000000,36.000000,16.000000,117.000000,59.000000,...,4020.610000,89468.240000,249431.930000,7.000000,8.000000,6.000000,7.000000,8.000000,9.000000,28.000000

In [44]:
data.describe(include='all')

,client_id,Target,Month,First_product_dt,Last_product_dt,CreditCard_Premium,CreditCard_Active,CreditCard_CoBranding,Loan_Active,Mortgage_Active,...,CreditCard_Payment_External,CreditCard_Payment_Cash,CreditCard_Payment_Web,CreditCard_Payment_ATM,CreditCard_Payment_TAS,Investment_Numbers,Mobile,Email,Region,CreditCard_Product
count,238615.0,238615.000000,238615,238615,238615,238615,238615,238615,238615,238615,...,238615.000000,238615.000000,238615.000000,238615.000000,238615.000000,238615.000000,238615,238615,53080,36636
unique,27590.0,NaN,9,3795,3411,2,2,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,2,2,7,7
top,5856970.0,NaN,2019-04-01,2004-07-30,2018-11-28,No,Yes,No,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Yes,BUENOS AIRES,J55660104XX012
freq,9.0,NaN,26547,1964,8402,213965,164057,213049,209807,233852,...,NaN,NaN,NaN,NaN,NaN,NaN,211029,172053,14293,17298
mean,NaN,0.260906,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.173983,0.027618,0.128374,0.046728,0.091763,0.066513,NaN,NaN,NaN,NaN
std,NaN,0.439129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.425741,0.174117,0.387458,0.247012,0.339117,0.427927,NaN,NaN,NaN,NaN
min,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
25%,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
50%,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
75%,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
max,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.000000,6.000000,7.000000,8.000000,9.000000,28.000000,NaN,NaN,NaN,NaN

In [45]:
data_months = data[data.Month.between(10, 20)]

TypeError: '>=' not supported between instances of 'str' and 'int'

In [46]:
data_months = data[data.Month.isin(['2019-04-01', '2019-03-01'])]

In [47]:
data_months.Month.value_counts()

Month
2019-04-01    26547
2019-03-01    26547
Name: count, dtype: int64

In [48]:
data_months[['Month', 'Target']].value_counts().reset_index()

        Month  Target  count
0  2019-03-01     0.0  19622
1  2019-04-01     0.0  19621
2  2019-04-01     1.0   6926
3  2019-03-01     1.0   6925

In [49]:
data_months.groupby(['Month', 'Target']).size()

Month       Target
2019-03-01  0.0       19622
            1.0        6925
2019-04-01  0.0       19621
            1.0        6926
dtype: int64

In [50]:
# max SavingAccount_Debits_Transactions in a month

data_max = data_months.groupby(['Month', 'Target'])['SavingAccount_Debits_Transactions'].max()

In [51]:
# min SavingAccount_Debits_Transactions in a month

data_min = data_months.groupby(['Month', 'Target'])['SavingAccount_Debits_Transactions'].min()

In [52]:
# max SavingAccount_Debits_Transactions in a month

data_total = data_months.groupby(['Month', 'Target'])['SavingAccount_Debits_Transactions'].agg([np.sum, np.amax,np.min, np.mean, np.median, np.count_nonzero, 'nunique'])

/tmp/ipykernel_540630/1431341791.py:3: FutureWarning: The provided callable <function sum at 0x7f47880dd440> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'sum' instead.
  data_total = data_months.groupby(['Month', 'Target'])['SavingAccount_Debits_Transactions'].agg([np.sum, np.amax,np.min, np.mean, np.median, np.count_nonzero, 'nunique'])
/tmp/ipykernel_540630/1431341791.py:3: FutureWarning: The provided callable <function min at 0x7f47880ddc60> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'min' instead.
  data_total = data_months.groupby(['Month', 'Target'])['SavingAccount_Debits_Transactions'].agg([np.sum, np.amax,np.min, np.mean, np.median, np.count_nonzero, 'nunique'])
/tmp/ipykernel_540630/1431341791.py:3: FutureWarning: The provided callable <function mean at 0x7f47880de520> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'mean' instead.
  data_total = data_months.groupby(['Month', 'Target'])['SavingAccount_Debits_Transactions'].agg([np.sum, np.amax,np.min, np.mean, np.median, np.count_nonzero, 'nunique'])
/tmp/ipykernel_540630/1431341791.py:3: FutureWarning: The provided callable <function median at 0x7f4760f63a60> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'median' instead.
  data_total = data_months.groupby(['Month', 'Target'])['SavingAccount_Debits_Transactions'].agg([np.sum, np.amax,np.min, np.mean, np.median, np.count_nonzero, 'nunique'])

In [53]:
data_total

                       sum   amax  min      mean  median  count_nonzero  \
Month      Target
2019-03-01 0.0     39541.0  102.0  0.0  2.015136     0.0           7154
           1.0     42688.0  105.0  0.0  6.164332     2.0           4456
2019-04-01 0.0     41255.0  127.0  0.0  2.102594     0.0           7030
           1.0     45259.0  121.0  0.0  6.534652     2.0           4489

                   nunique
Month      Target
2019-03-01 0.0          65
           1.0          79
2019-04-01 0.0          71
           1.0          84

In [54]:
data_total.columns

Index(['sum', 'amax', 'min', 'mean', 'median', 'count_nonzero', 'nunique'], dtype='object')

In [55]:
# CreditCard_Payment_External

var = 'CreditCard_Payment_External'
data_total2 = data_months.groupby(['Month', 'Target'])[var].agg([np.sum, np.amax,np.min, np.mean, np.median, np.count_nonzero, 'nunique'])
data_total2.columns

/tmp/ipykernel_540630/842866185.py:4: FutureWarning: The provided callable <function sum at 0x7f47880dd440> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'sum' instead.
  data_total2 = data_months.groupby(['Month', 'Target'])[var].agg([np.sum, np.amax,np.min, np.mean, np.median, np.count_nonzero, 'nunique'])
/tmp/ipykernel_540630/842866185.py:4: FutureWarning: The provided callable <function min at 0x7f47880ddc60> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'min' instead.
  data_total2 = data_months.groupby(['Month', 'Target'])[var].agg([np.sum, np.amax,np.min, np.mean, np.median, np.count_nonzero, 'nunique'])
/tmp/ipykernel_540630/842866185.py:4: FutureWarning: The provided callable <function mean at 0x7f47880de520> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'mean' instead.
  data_total2 = data_months.groupby(['Month', 'Target'])[var].agg([np.sum, np.amax,np.min, np.mean, np.median, np.count_nonzero, 'nunique'])
/tmp/ipykernel_540630/842866185.py:4: FutureWarning: The provided callable <function median at 0x7f4760f63a60> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'median' instead.
  data_total2 = data_months.groupby(['Month', 'Target'])[var].agg([np.sum, np.amax,np.min, np.mean, np.median, np.count_nonzero, 'nunique'])

Index(['sum', 'amax', 'min', 'mean', 'median', 'count_nonzero', 'nunique'], dtype='object')

In [56]:
columns = ['sum', 'amax', 'amin', 'mean', 'median', 'count_nonzero', 'nunique'];
data_total2.columns = [f'{var}___{column}' for column in columns]

var2 = var + '___'
data_total2.columns = [var2 + 'sum', var2 + 'amax', var2 + 'amin', var2 + 'mean',
                       var2 + 'median', var2 + 'count_nonzero', var2 + 'nunique']

In [57]:
data_total2.columns

Index(['CreditCard_Payment_External___sum',
       'CreditCard_Payment_External___amax',
       'CreditCard_Payment_External___amin',
       'CreditCard_Payment_External___mean',
       'CreditCard_Payment_External___median',
       'CreditCard_Payment_External___count_nonzero',
       'CreditCard_Payment_External___nunique'],
      dtype='object')

In [58]:

# Esto es un procedure

def function_stat(var):
    
    data_total2 = data_months.groupby(['Month', 'Target'])[var].agg([np.sum, np.amax,np.min, np.mean, np.median, np.count_nonzero, 'nunique'])
    
    var = var + '___'
    data_total2.columns = [var + 'sum', var + 'amax', var + 'amin', var + 'mean',
                       var + 'median', var + 'count_nonzero', var + 'nunique']
    print(data_total2.columns)

# Funciones con parametros opciones:
def example1(var, a=10, b=20):
    print(var, a, b);
    return var

example1(var, 12, 22)
example1(var, a=12, b=22)
example1(var, 12)
example1(var, a=12)
example1(var, b=22)
example1(var)

# Si queres ver otra formar mas avanzada busca sobre *args y **kwargs

CreditCard_Payment_External 12 22
CreditCard_Payment_External 12 22
CreditCard_Payment_External 12 20
CreditCard_Payment_External 12 20
CreditCard_Payment_External 10 22
CreditCard_Payment_External 10 20

'CreditCard_Payment_External'

In [59]:
# esto es una funcion....

def function_stat(var):
    
    data_total2 = data_months.groupby(['Month', 'Target'])[var].agg([np.sum, np.amax,np.min, np.mean, np.median, np.count_nonzero, 'nunique'])
    
    var = var + '___'
    data_total2.columns = [var + 'sum', var + 'amax', var + 'amin', var + 'mean',
                       var + 'median', var + 'count_nonzero', var + 'nunique']
    print(data_total2.columns)
    
    return data_total2, data_total2.columns # por esto es una funcion

In [60]:
data3 , columnas3 = function_stat('CreditCard_Payment_External')
print(data3)
print(columnas3)

Index(['CreditCard_Payment_External___sum',
       'CreditCard_Payment_External___amax',
       'CreditCard_Payment_External___amin',
       'CreditCard_Payment_External___mean',
       'CreditCard_Payment_External___median',
       'CreditCard_Payment_External___count_nonzero',
       'CreditCard_Payment_External___nunique'],
      dtype='object')
                   CreditCard_Payment_External___sum  \
Month      Target
2019-03-01 0.0                                3481.0
           1.0                                 828.0
2019-04-01 0.0                                3192.0
           1.0                                 781.0

                   CreditCard_Payment_External___amax  \
Month      Target
2019-03-01 0.0                                    5.0
           1.0                                    7.0
2019-04-01 0.0                                    6.0
           1.0                                    8.0

                   CreditCard_Payment_External___amin  \
Month      Target
2019-03-01 0.0                                    0.0
           1.0                                    0.0
2019-04-01 0.0                                    0.0
           1.0                                    0.0

                   CreditCard_Payment_External___mean  \
Month      Target
2019-03-01 0.0                               0.177403
           1.0                               0.119567
2019-04-01 0.0                               0.162683
           1.0                               0.112763

                   CreditCard_Payment_External___median  \
Month      Target
2019-03-01 0.0                                      0.0
           1.0                                      0.0
2019-04-01 0.0                                      0.0
           1.0                                      0.0

                   CreditCard_Payment_External___count_nonzero  \
Month      Target
2019-03-01 0.0                                            3139
           1.0                                             713
2019-04-01 0.0                                            2985
           1.0                                             679

                   CreditCard_Payment_External___nunique
Month      Target
2019-03-01 0.0                                         6
           1.0                                         8
2019-04-01 0.0                                         6
           1.0                                         7
Index(['CreditCard_Payment_External___sum',
       'CreditCard_Payment_External___amax',
       'CreditCard_Payment_External___amin',
       'CreditCard_Payment_External___mean',
       'CreditCard_Payment_External___median',
       'CreditCard_Payment_External___count_nonzero',
       'CreditCard_Payment_External___nunique'],
      dtype='object')

/tmp/ipykernel_540630/3806175189.py:5: FutureWarning: The provided callable <function sum at 0x7f47880dd440> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'sum' instead.
  data_total2 = data_months.groupby(['Month', 'Target'])[var].agg([np.sum, np.amax,np.min, np.mean, np.median, np.count_nonzero, 'nunique'])
/tmp/ipykernel_540630/3806175189.py:5: FutureWarning: The provided callable <function min at 0x7f47880ddc60> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'min' instead.
  data_total2 = data_months.groupby(['Month', 'Target'])[var].agg([np.sum, np.amax,np.min, np.mean, np.median, np.count_nonzero, 'nunique'])
/tmp/ipykernel_540630/3806175189.py:5: FutureWarning: The provided callable <function mean at 0x7f47880de520> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'mean' instead.
  data_total2 = data_months.groupby(['Month', 'Target'])[var].agg([np.sum, np.amax,np.min, np.mean, np.median, np.count_nonzero, 'nunique'])
/tmp/ipykernel_540630/3806175189.py:5: FutureWarning: The provided callable <function median at 0x7f4760f63a60> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'median' instead.
  data_total2 = data_months.groupby(['Month', 'Target'])[var].agg([np.sum, np.amax,np.min, np.mean, np.median, np.count_nonzero, 'nunique'])

In [63]:
# esto es una funcion....

def function_stat(var):
    
    data_total2 = data_months.groupby(['Month', 'Target'])[var].agg([np.sum, np.amax,np.min, np.mean, np.median, np.count_nonzero, 'nunique'])
    
    var = var + '___'
    data_total2.columns = [var + 'sum', var + 'amax', var + 'amin', var + 'mean',
                       var + 'median', var + 'count_nonzero', var + 'nunique']
    print(data_total2.columns)
    
    return data_total2 # por esto es una funcion

In [64]:
data3 = function_stat('CreditCard_Payment_External')
data3

Index(['CreditCard_Payment_External___sum',
       'CreditCard_Payment_External___amax',
       'CreditCard_Payment_External___amin',
       'CreditCard_Payment_External___mean',
       'CreditCard_Payment_External___median',
       'CreditCard_Payment_External___count_nonzero',
       'CreditCard_Payment_External___nunique'],
      dtype='object')

/tmp/ipykernel_540630/3111079813.py:5: FutureWarning: The provided callable <function sum at 0x7f47880dd440> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'sum' instead.
  data_total2 = data_months.groupby(['Month', 'Target'])[var].agg([np.sum, np.amax,np.min, np.mean, np.median, np.count_nonzero, 'nunique'])
/tmp/ipykernel_540630/3111079813.py:5: FutureWarning: The provided callable <function min at 0x7f47880ddc60> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'min' instead.
  data_total2 = data_months.groupby(['Month', 'Target'])[var].agg([np.sum, np.amax,np.min, np.mean, np.median, np.count_nonzero, 'nunique'])
/tmp/ipykernel_540630/3111079813.py:5: FutureWarning: The provided callable <function mean at 0x7f47880de520> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'mean' instead.
  data_total2 = data_months.groupby(['Month', 'Target'])[var].agg([np.sum, np.amax,np.min, np.mean, np.median, np.count_nonzero, 'nunique'])
/tmp/ipykernel_540630/3111079813.py:5: FutureWarning: The provided callable <function median at 0x7f4760f63a60> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'median' instead.
  data_total2 = data_months.groupby(['Month', 'Target'])[var].agg([np.sum, np.amax,np.min, np.mean, np.median, np.count_nonzero, 'nunique'])

                   CreditCard_Payment_External___sum  \
Month      Target
2019-03-01 0.0                                3481.0
           1.0                                 828.0
2019-04-01 0.0                                3192.0
           1.0                                 781.0

                   CreditCard_Payment_External___amax  \
Month      Target
2019-03-01 0.0                                    5.0
           1.0                                    7.0
2019-04-01 0.0                                    6.0
           1.0                                    8.0

                   CreditCard_Payment_External___amin  \
Month      Target
2019-03-01 0.0                                    0.0
           1.0                                    0.0
2019-04-01 0.0                                    0.0
           1.0                                    0.0

                   CreditCard_Payment_External___mean  \
Month      Target
2019-03-01 0.0                               0.177403
           1.0                               0.119567
2019-04-01 0.0                               0.162683
           1.0                               0.112763

                   CreditCard_Payment_External___median  \
Month      Target
2019-03-01 0.0                                      0.0
           1.0                                      0.0
2019-04-01 0.0                                      0.0
           1.0                                      0.0

                   CreditCard_Payment_External___count_nonzero  \
Month      Target
2019-03-01 0.0                                            3139
           1.0                                             713
2019-04-01 0.0                                            2985
           1.0                                             679

                   CreditCard_Payment_External___nunique
Month      Target
2019-03-01 0.0                                         6
           1.0                                         8
2019-04-01 0.0                                         6
           1.0                                         7

In [65]:
data3

                   CreditCard_Payment_External___sum  \
Month      Target
2019-03-01 0.0                                3481.0
           1.0                                 828.0
2019-04-01 0.0                                3192.0
           1.0                                 781.0

                   CreditCard_Payment_External___amax  \
Month      Target
2019-03-01 0.0                                    5.0
           1.0                                    7.0
2019-04-01 0.0                                    6.0
           1.0                                    8.0

                   CreditCard_Payment_External___amin  \
Month      Target
2019-03-01 0.0                                    0.0
           1.0                                    0.0
2019-04-01 0.0                                    0.0
           1.0                                    0.0

                   CreditCard_Payment_External___mean  \
Month      Target
2019-03-01 0.0                               0.177403
           1.0                               0.119567
2019-04-01 0.0                               0.162683
           1.0                               0.112763

                   CreditCard_Payment_External___median  \
Month      Target
2019-03-01 0.0                                      0.0
           1.0                                      0.0
2019-04-01 0.0                                      0.0
           1.0                                      0.0

                   CreditCard_Payment_External___count_nonzero  \
Month      Target
2019-03-01 0.0                                            3139
           1.0                                             713
2019-04-01 0.0                                            2985
           1.0                                             679

                   CreditCard_Payment_External___nunique
Month      Target
2019-03-01 0.0                                         6
           1.0                                         8
2019-04-01 0.0                                         6
           1.0                                         7

In [66]:
data4 = function_stat('SavingAccount_Debits_Transactions')

Index(['SavingAccount_Debits_Transactions___sum',
       'SavingAccount_Debits_Transactions___amax',
       'SavingAccount_Debits_Transactions___amin',
       'SavingAccount_Debits_Transactions___mean',
       'SavingAccount_Debits_Transactions___median',
       'SavingAccount_Debits_Transactions___count_nonzero',
       'SavingAccount_Debits_Transactions___nunique'],
      dtype='object')

/tmp/ipykernel_540630/3111079813.py:5: FutureWarning: The provided callable <function sum at 0x7f47880dd440> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'sum' instead.
  data_total2 = data_months.groupby(['Month', 'Target'])[var].agg([np.sum, np.amax,np.min, np.mean, np.median, np.count_nonzero, 'nunique'])
/tmp/ipykernel_540630/3111079813.py:5: FutureWarning: The provided callable <function min at 0x7f47880ddc60> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'min' instead.
  data_total2 = data_months.groupby(['Month', 'Target'])[var].agg([np.sum, np.amax,np.min, np.mean, np.median, np.count_nonzero, 'nunique'])
/tmp/ipykernel_540630/3111079813.py:5: FutureWarning: The provided callable <function mean at 0x7f47880de520> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'mean' instead.
  data_total2 = data_months.groupby(['Month', 'Target'])[var].agg([np.sum, np.amax,np.min, np.mean, np.median, np.count_nonzero, 'nunique'])
/tmp/ipykernel_540630/3111079813.py:5: FutureWarning: The provided callable <function median at 0x7f4760f63a60> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'median' instead.
  data_total2 = data_months.groupby(['Month', 'Target'])[var].agg([np.sum, np.amax,np.min, np.mean, np.median, np.count_nonzero, 'nunique'])

In [67]:
# Merge two dataframes
data_merge = data3.merge(data4, how ='inner', on=['Month', 'Target'])

data_merge = data3.merge(data4, 'inner', ['Month', 'Target'])\
                  .merge(data4, 'inner', ['Month', 'Target'])
                    

data_merge.shape

(4, 21)

In [68]:
data_merge.columns

Index(['CreditCard_Payment_External___sum',
       'CreditCard_Payment_External___amax',
       'CreditCard_Payment_External___amin',
       'CreditCard_Payment_External___mean',
       'CreditCard_Payment_External___median',
       'CreditCard_Payment_External___count_nonzero',
       'CreditCard_Payment_External___nunique',
       'SavingAccount_Debits_Transactions___sum_x',
       'SavingAccount_Debits_Transactions___amax_x',
       'SavingAccount_Debits_Transactions___amin_x',
       'SavingAccount_Debits_Transactions___mean_x',
       'SavingAccount_Debits_Transactions___median_x',
       'SavingAccount_Debits_Transactions___count_nonzero_x',
       'SavingAccount_Debits_Transactions___nunique_x',
       'SavingAccount_Debits_Transactions___sum_y',
       'SavingAccount_Debits_Transactions___amax_y',
       'SavingAccount_Debits_Transactions___amin_y',
       'SavingAccount_Debits_Transactions___mean_y',
       'SavingAccount_Debits_Transactions___median_y',
       'SavingAccount_Debits_Transactions___count_nonzero_y',
       'SavingAccount_Debits_Transactions___nunique_y'],
      dtype='object')

In [69]:
data_merge = data_merge.rename(columns={
    'SavingAccount_Debits_Transactions___nunique_y' : 'SavingAccount_Debits_Transactions___nunique_22',
    'SavingAccount_Debits_Transactions___amin_y': 'SavingAccount_Debits_Transactions___amin_nueva',
})

In [70]:
data_merge.rename(columns={
    'SavingAccount_Debits_Transactions___nunique_y' : 'SavingAccount_Debits_Transactions___nunique_22',
    'bfgf': 'SavingAccount_Debits_Transactions___amin_nueva',
}, inplace=True)

In [71]:
data_merge.columns

Index(['CreditCard_Payment_External___sum',
       'CreditCard_Payment_External___amax',
       'CreditCard_Payment_External___amin',
       'CreditCard_Payment_External___mean',
       'CreditCard_Payment_External___median',
       'CreditCard_Payment_External___count_nonzero',
       'CreditCard_Payment_External___nunique',
       'SavingAccount_Debits_Transactions___sum_x',
       'SavingAccount_Debits_Transactions___amax_x',
       'SavingAccount_Debits_Transactions___amin_x',
       'SavingAccount_Debits_Transactions___mean_x',
       'SavingAccount_Debits_Transactions___median_x',
       'SavingAccount_Debits_Transactions___count_nonzero_x',
       'SavingAccount_Debits_Transactions___nunique_x',
       'SavingAccount_Debits_Transactions___sum_y',
       'SavingAccount_Debits_Transactions___amax_y',
       'SavingAccount_Debits_Transactions___amin_nueva',
       'SavingAccount_Debits_Transactions___mean_y',
       'SavingAccount_Debits_Transactions___median_y',
       'SavingAccount_Debits_Transactions___count_nonzero_y',
       'SavingAccount_Debits_Transactions___nunique_22'],
      dtype='object')

In [72]:
len(data.client_id.unique())

27590

In [73]:
# new column
# if SavingAccount_Debits_Transactions &gt; 100 then 1 else 0

data['SavingAccount_Debits_Transactions_gt_100'] = np.where(data['SavingAccount_Debits_Transactions'] > 100, 1, 0)

data['SavingAccount_Debits_Transactions_gt_100'].value_counts()

SavingAccount_Debits_Transactions_gt_100
0    238589
1        26
Name: count, dtype: int64

In [74]:
# new column


data['SavingAccount_Debits_Transactions_gt_100'] = np.where(
    (data['SavingAccount_Debits_Transactions'].between(5, 6)), 1, np.where((data['SavingAccount_Debits_Transactions'] > 6), 2, 3)
)

data['SavingAccount_Debits_Transactions_gt_100'].value_counts()

SavingAccount_Debits_Transactions_gt_100
3    199680
2     29142
1      9793
Name: count, dtype: int64

In [75]:
data['row_num'] = data.index

data['row_num']

0              0
1              1
2              2
3              3
4              4
           ...
238610    238610
238611    238611
238612    238612
238613    238613
238614    238614
Name: row_num, Length: 238615, dtype: int64

In [76]:
data[['client_id', 'SavingAccount_Debits_Transactions_gt_100']].to_csv('./data2.csv', sep='|', header=True, index=False)

In [77]:
# nulls
data.isnull().values.any()

True

In [78]:
data = data.fillna(0).fillna('0')

In [79]:
p95 = data['SavingAccount_Debits_Transactions'].quantile(0.95)
p95

18.0

In [80]:
p05 = data['SavingAccount_Debits_Transactions'].quantile(0.05)
p05

0.0

In [81]:
p50 = data['SavingAccount_Debits_Transactions'].quantile(0.5)
p50

0.0

In [82]:
p50 = data['SavingAccount_Debits_Transactions'].median()
p50

0.0

In [83]:
# Dictionaries

di = { 
     "TIERRADELFUEGO"          : "TIERRA DEL FUEGO",
     "LARIOJA"                 : "LA RIOJA",
}
# ABT_Modelado.formData_provincia = ABT_Modelado.formData_provincia.map(di)

In [84]:
# Ejemplo para correr un scrip
%run "c:\ksjdlfjs\program.py"

Exception: File `'c:\\ksjdlfjs\\program.py'` not found.

## Exploratory Data Analysis (EDA)

In [85]:
for x in data.columns:
    print(x)

client_id
Target
Month
First_product_dt
Last_product_dt
CreditCard_Premium
CreditCard_Active
CreditCard_CoBranding
Loan_Active
Mortgage_Active
SavingAccount_Active_ARG_Salary
SavingAccount_Active_ARG
SavingAccount_Active_DOLLAR
DebitCard_Active
Investment_Active
Package_Active
Insurance_Life
Insurance_Home
Insurance_Accidents
Insurance_Mobile
Insurance_ATM
Insurance_Unemployment
Sex
Client_Age_grp
SavingAccount_Balance_FirstDate
SavingAccount_Balance_LastDate
SavingAccount_Balance_Average
SavingAccount_Days_with_use
SavingAccount_Days_with_Credits
SavingAccount_Days_with_Debits
SavingAccount_Salary_Payment_Transactions
SavingAccount_Transfer_In_Transactions
SavingAccount_ATM_Extraction_Transactions
SavingAccount_Service_Payment_Transactions
SavingAccount_CreditCard_Payment_Transactions
SavingAccount_Transfer_Out_Transactions
SavingAccount_DebitCard_Spend_Transactions
SavingAccount_Transactions_Transactions
SavingAccount_Credits_Transactions
SavingAccount_Debits_Transactions
SavingAccount_Salary_Payment_Amount
SavingAccount_Transfer_In_Amount
SavingAccount_ATM_Extraction_Amount
SavingAccount_Service_Payment_Amount
SavingAccount_CreditCard_Payment_Amount
SavingAccount_Transfer_Out_Amount
SavingAccount_DebitCard_Spend_Amount
SavingAccount_Total_Amount
SavingAccount_Credits_Amounts
SavingAccount_Debits_Amounts
Operations_Bank
Operations_Terminal
Operations_HomeBanking
Operations_Mobile
Operations_Ivr
Operations_Telemarketer
Operations_ATM
CreditCard_Balance_ARG
CreditCard_Balance_DOLLAR
CreditCard_Total_Limit
CreditCard_Total_Spending
CreditCard_Spending_1_Installment
CreditCard_Spending_Installments
CreditCard_Spending_CrossBoarder
CreditCard_Spending_Aut_Debits
CreditCard_Revolving
CreditCard_Payment_Aut_Debit
CreditCard_Payment_External
CreditCard_Payment_Cash
CreditCard_Payment_Web
CreditCard_Payment_ATM
CreditCard_Payment_TAS
Investment_Numbers
Mobile
Email
Region
CreditCard_Product
SavingAccount_Debits_Transactions_gt_100
row_num

In [86]:
for x in np.arange(3, 10, 1):
    print(x)
    break

3

In [87]:
if (x == 10) :
    print('Hello world, igual a 10')
elif ( x < 10):
    print('Hello world, menor a 10')
else:
    print('Goodbye world mayor a 10')

Hello world, menor a 10

In [88]:
try:
    a = 'aaa'
    b = a/3
except:
    # si falla, en este caso, cualquier tipo de fallo
    print('error')
else:
    # Esto se ejecuta cuando lo del try pasa sin errores
    print('salio todo bien')
finally:
    # Esto se ejecuta siempre pase lo que pase pero al final
    print('intente mi tarea')

error
intente mi tarea

In [89]:
try:
    a = 'aaa'
    b = a/3
except TypeError as e:
    # Si falla por TypeError
    print('Fallo por el tipado de los datos:', e)
except Exception as e:
    # Si falla, en este caso cualquier Exception que no sea el TypeError
    print(e)
else:
    print('salio todo bien')
finally:
    print('intente mi tarea')

Fallo por el tipado de los datos: unsupported operand type(s) for /: 'str' and 'int'
intente mi tarea