In [ ]:
# Instala pandas si no está instalado 
%pip install pandas
%pip install tabulate
%pip install jinja2
%pip install matplotlib

In [1]:
# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display
from tabulate import tabulate

In [2]:
dataframe = pd.read_csv('./data.csv', delimiter='|', dtype='unicode')

In [3]:
# Mostrar la cantidad de celdas
print(f'size: {dataframe.size}')
print(f'columns: {len(dataframe.columns)}')
print(f'rows: {dataframe.shape[0]}')

size: 18373432
columns: 77
rows: 238616

In [ ]:
# Primeros 5 elementos como tabla
dataframe.head()
# opcion para consola: print(tabulate(dataframe[:5], headers='keys', tablefmt='psql'))

In [ ]:
def show_pie(df, column_name):
    count = df[column_name].value_counts()

    # Crear un gráfico de torta
    plt.figure(figsize=(6, 6))  # Tamaño del gráfico
    plt.pie(count, labels=count.index, autopct='%1.1f%%', startangle=90)
    plt.title(f'Gráfico de Torta de {column_name}')  # Título del gráfico

    # Mostrar el gráfico
    plt.show()

In [ ]:
show_pie(dataframe, 'Sex')
show_pie(dataframe, 'Region')
show_pie(dataframe, 'Month')
show_pie(dataframe, 'Target')
show_pie(dataframe, 'Client_Age_grp')
show_pie(dataframe, 'CreditCard_Product')

In [ ]:
# Limpio los datos

print('shape original:', dataframe.shape)
data = dataframe.drop_duplicates(subset=['Target', 'Month', 'client_id'])
data[(data.client_id == '(238615 rows affected)')]
print('shape filtrado:', data.shape)

In [ ]:
data.describe(include='all')

In [4]:
data = dataframe.copy()
nuevemeses = data.groupby('client_id')['Month'].count().reset_index()
nuevemeses.head()

                client_id  Month
0  (238615 rows affected)      0
1                 1000199      9
2                 1000245      9
3                 1000847      9
4                 1001232      9

In [5]:
nuevemeses.value_counts()

client_id               Month
(238615 rows affected)  0        1
601455                  9        1
6015634                 9        1
6015459                 9        1
6015440                 9        1
                                ..
4227818                 9        1
4227788                 9        1
4227348                 9        1
4227062                 9        1
999462                  9        1
Name: count, Length: 26561, dtype: int64

In [ ]:
data = data.merge(nuevemeses[nuevemeses.Month == 9][['client_id']], how='inner', on='client_id')
data.shape

In [ ]:
data['Month'].describe(include='all')

In [ ]:
# con paquete activo
actives = data[data.Month == '2019-01-01'].copy()
sin_paquetes = actives[actives.Package_Active == 'No'].copy()

target = data[(data.Month == '2019-04-01') | (data.Month == '2019-03-01')].copy()
target

In [ ]:
data['client_id'].astype(str).str[-1].value_counts()